.container {
  padding: 20px;
}
.calendar-title {
  margin: 0 20px;
}
.calendar {
  margin: 20px auto;
  width: 100%;
}

.calendar-header {
  display: flex;
  align-items: center;
  padding: 10px;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.calendar-day {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}
.calendar-day.selected {
  background-color: rgb(101 157 101 / 47%);
}

.day-number {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

.events-container {
  margin-top: 5px;
}

.event {
  margin-bottom: 5px;
  background-color: rgb(101 157 101 / 37%);
  padding: 5px;
}
.event-title {
  font-weight: 700;
  margin: 0 0 10px 0;
}
.event-desc {
  margin: 0 0 5px 0;
}
.event-date {
  margin: 0 0 10px 0;
  font-size: 12px;
}
.event-edit,
.event-open {
  border: none;
  border-radius: 10px;
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
}
.event-delete {
  border: none;
  border-radius: 10px;
  background-color: rgb(250, 65, 65);
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
}

.event-open {
  display: block;
  text-align: center;
  margin: 0 auto;
}